<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <jmxConfigurator/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender>

  <!-- This is MDC value -->
  <!-- We will assign a value to 'logFileName' via Java code -->
  <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>logFileName</key>
      <defaultValue>process</defaultValue>
    </discriminator>
    <sift>
      <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${logFileName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>
            %d{yyyy-MM-dd HH:mm:ss.SSS} %mdc [%thread] %-5level %logger{36} - %msg%n
          </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <FileNamePattern>process.log.%i.bak</FileNamePattern>
          <MinIndex>1</MinIndex>
          <MaxIndex>12</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
      </appender>
    </sift>
  </appender>


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>